In [1]:
import sys, os, importlib
import rasterio

import geopandas as gpd
import pandas as pd

sys.path.insert(0, "../../src")

import GOSTRocks.metadataMisc as meta

Could not import arcgis libraries

In [14]:
importlib.reload(meta)
in_folder = "/home/wb411133/temp/UKR"

make_meta = meta.metadata_gost(in_folder, os.path.join(in_folder, "METADATA"))
layers = make_meta.get_layers()
metadata = make_meta.generate_metadata()

ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220101_20220129_rad.tif
ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220108_20220205_rad.tif
ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220115_20220212_rad.tif
ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220122_20220219_rad.tif
ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220129_20220226_rad.tif
ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220205_20220305_rad.tif
ERROR:root:Cannot log /home/wb411133/temp/UKR/SHIFTED_MAPS/SHIFTED_20220212_20220312_rad.tif

Could not import arcgis libraries

In [16]:
# Make changes to the metadata table here, if you want; changes can be made to resulting xls file later
metadata['metadata'].head()

,layer_name,data_type,crs_name,crs_code,num_dimensions,min_lon,max_lon,min_lat,max_lat,raster_width,raster_height,raster_res,layer_label,description,source_name,source_url,data_process_summary
0,UKR_2022-03-01_2022-03-14_rad,Raster,WGS 84,4326,1,20.087086,42.07919,43.295512,54.334987,2650,5279,0.004166,,,,,
1,UKR_2022-03-01_2022-03-14_count,Raster,WGS 84,4326,1,20.087086,42.07919,43.295512,54.334987,2650,5279,0.004166,,,,,
2,UKR_2022-01-01_2022-03-14_rad,Raster,WGS 84,4326,1,20.087086,42.07919,43.295512,54.334987,2650,5279,0.004166,,,,,
3,UKR_2022-01-01_2022-03-14_count,Raster,WGS 84,4326,1,20.087086,42.07919,43.295512,54.334987,2650,5279,0.004166,,,,,
4,VIIRS_change,Raster,WGS 84,4326,1,20.087086,42.07919,43.295512,54.334987,2650,5279,0.004166,,,,,

In [17]:
make_meta.write_metadata?

In [ ]:
make_meta.write_metadata(os.path.join(in_folder, "METADATA", 'metadata.xlsx'), layer_metadata = metadata['metadata'])